
main {
}

main div > * {
    /* margin: 0;
    padding: 0; */
}

.messageScreen {
    border: 1px solid black;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#message {
    border-radius: 10px;
    width: 70%;
}

#send {
    width: 15%;
}

.messageScreen p{
    margin: 0;
    padding: 0;
    height: 10%;
    align-content: center;
}

.scrolling-frame {
    height: 80%;
}

.messageScreen form{
    width: 100%;
    height: 10%;
    align-content: center;
}

.messageBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgray;
    border: 10px solid lightgray;
    border-radius: 10px;
    height: 10%;
    min-width: 30%;
    max-width: 70%;
    margin-bottom: 10px;
    flex-grow: 1;
    width: fit-content;
    box-sizing: border-box;
    word-wrap: break-word;
}

.messageText{
    width: 95%;
    text-align: left;
    margin: 0;
    padding: 0;
}

.timeText {
    width: 50%;
    text-align: right;
    align-self: flex-end;
}